<a href="https://colab.research.google.com/github/mliu3093/DataAnalysis/blob/main/Task_2_Global_Cert_Copy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.cluster import KMeans
#os.chdir("retail data.csv")

In [2]:
df = pd.read_csv('/content/retail_data.csv',encoding='latin')

In [3]:
df.head()

  InvoiceNo StockCode  ...         Country  Revenue
0    536365    85123A  ...  United Kingdom    15.30
1    536365     71053  ...  United Kingdom    20.34
2    536365    84406B  ...  United Kingdom    22.00
3    536365    84029G  ...  United Kingdom    20.34
4    536365    84029E  ...  United Kingdom    20.34

[5 rows x 9 columns]

In [4]:
totalbill = df.groupby('CustomerID').agg({'Revenue':'sum'})

In [5]:
totalbill

            Revenue
CustomerID
12346.0        0.00
12347.0     1187.18
12348.0     1120.24
12350.0      334.40
12352.0      601.18
...             ...
18270.0      111.95
18273.0       51.00
18277.0      -12.75
18280.0      180.60
18283.0      317.90

[2184 rows x 1 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141101 entries, 0 to 141100
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    141101 non-null  object
 1   StockCode    141101 non-null  object
 2   Description  140638 non-null  object
 3   Quantity     141101 non-null  int64
 4   InvoiceDate  141101 non-null  object
 5   UnitPrice    141100 non-null  float64
 6   CustomerID   96587 non-null   float64
 7   Country      141100 non-null  object
 8   Revenue      141100 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 9.7+ MB

In [23]:
date =pd.to_datetime(df['InvoiceDate'])

NameError: ignored

In [24]:
date

NameError: ignored

In [ ]:
df['InvoiceDate'].dtypes

In [ ]:
df['Date'] = pd.to_datetime(df['InvoiceDate']).dt.date
df['Time'] = pd.to_datetime(df['InvoiceDate']).dt.time

In [ ]:
df.head()

In [ ]:
grp = df.groupby('CustomerID').mode()